<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <h2>Your profile</h2>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information:</strong>You have made changes, any unsaved changes will be lost!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 max-height:300px">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user?.filePath}}" alt="user?.username">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{user?.city}}, {{user?.country}}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{user?.dateOfBirth}}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user?.createdAt | date }}</p>
          </div>
        </div>
        <div class="footer">
          <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save changes</button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="tab-panel">
        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab1">Edit profile</a></li>
            <li><a data-toggle="tab" href="#tab2">Edit Photos</a></li>
          </ul>

          <div class="tab-content">
            <div id="tab1" class="tab-pane fade in active">
              <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                <h4>Introduction:</h4>
                <textarea name="introduction" id="" rows="6" class="form-control"
                  [(ngModel)]="user.introduction"></textarea>
                <h4>Looking for:</h4>
                <textarea name="lookingFor" id="" rows="6" class="form-control"
                  [(ngModel)]="user.lookingFor"></textarea>
                <h4>Interests:</h4>
                <textarea name="interests" id="" rows="6" class="form-control" [(ngModel)]="user.interests"></textarea>
                <h4>Location details</h4>
                <div class="form-row">
                  <div class="form-group col-12 col-md-4">
                    <label for="Country">Country</label>
                    <input class="form-control" type="text" name="city" id="" [(ngModel)]="user.city">
                  </div>
                  <div class="form-group col-12 col-md-4">
                    <label for="city">City</label>
                    <input class="form-control " type="text" name="country" id="" [(ngModel)]="user.country">
                  </div>
                  <div class="form-group col-12 col-md-4">
                    <label for="Country">Age</label>
                    <input class="form-control " type="text" name="age" id="" [(ngModel)]="user.dateOfBirth">
                  </div>
                </div>
              </form>

            </div>
            <div id="tab2" class="tab-pane fade">
              <app-photo-editor [photos]="user.photos"></app-photo-editor>
            </div>

          </div>
        </div>



      </div>
    </div>
  </div>
</div>
