.img-thumbnail{
  margin: 25px;
  width: 85%;
  height:85%;
}

.card-body {
  padding: 0 25px;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
}

ul.test2 a {
  color: #337ab7;
  text-decoration: none !important;
  border-radius: 4px;
}
.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
a {
  text-decoration: underline;
}
a {
  color: inherit;
}
a {
  background-color: transparent;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a {
  background-color: transparent;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
user agent stylesheet
li {
  text-align: -webkit-match-parent;
}
Style Attribute {
  margin: 19px 0px 18px;
  visibility: visible;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
user agent stylesheet
ul {
  list-style-type: disc;
}
.w3-white, .w3-hover-white:hover {
  color: #000!important;
  background-color: #fff!important;
}
.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
  color: #000!important;
  background-color: #f1f1f1!important;
}
html, body {
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
user agent stylesheet
html {
  color: -internal-root-color;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

