<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center ">Sign Up</h2>
  <hr>

  <div class="form-group">
    <label for="control-label" style="margin-right: 10px;">I am:</label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="male" formControlName="gender">Male
    </label>
    <label class="radio-inline ml-3">
      <input type="radio" class="mr-3" value="female " formControlName="gender">Female
    </label>
  </div>

  <div class="form-group">
    <input type="text"
      [ngClass]="{'is-invalid': registerForm.get('username').errors && registerForm.get('username').touched}"
      class="form-control" placeholder="username" formControlName="username">
    <div class="invalid-feedback">Please choose a username</div>
  </div>

  <div class="form-group">
    <input type="text"
      [ngClass]="{'is-invalid': registerForm.get('knownAs').errors && registerForm.get('knownAs').touched}"
      class="form-control" placeholder="knownAs" formControlName="knownAs">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('knownAs').touched && registerForm.get('knownAs').hasError('required')">knownAs is
      required</div>
  </div>

  <div class="form-group">
    <input type="text" bsDatepicker [bsConfig]="bsConfig"
      [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}"
      class="form-control" placeholder="dateOfBirth" formControlName="dateOfBirth">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">knownAs is
      required</div>
  </div>

  <div class="form-group">
    <input type="text" [ngClass]="{'is-invalid': registerForm.get('city').errors && registerForm.get('city').touched}"
      class="form-control" placeholder="city" formControlName="city">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('city').touched && registerForm.get('city').hasError('required')">knownAs is required
    </div>
  </div>

  <div class="form-group">
    <input type="text"
      [ngClass]="{'is-invalid': registerForm.get('country').errors && registerForm.get('country').touched}"
      class="form-control" placeholder="country" formControlName="country">
    <div class="invalid-feedback"
      *ngIf="registerForm.get('country').touched && registerForm.get('country').hasError('required')">knownAs is
      required</div>
  </div>


  <div class="form-group">
    <input type="password"
      [ngClass]="{'is-invalid': registerForm.get('password').errors && registerForm.get('password').touched}"
      class="form-control" type="password" placeholder="password" formControlName="password">
    <div *ngIf=" registerForm.get('password').hasError('required') && registerForm.get('password').touched"
      class="invalid-feedback">Please choose a password</div>
    <div *ngIf=" registerForm.get('password').hasError('minlength') && registerForm.get('password').touched"
      class="invalid-feedback">please input a minimum of 4 characters</div>
    <div *ngIf=" registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched"
      class="invalid-feedback">Please password should not exceed 8 characters</div>
  </div>

  <div class="form-group">
    <input type="password" [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').touched
    || registerForm.get('confirmPassword').touched && registerForm.hasError('mismatch') }" class="form-control"
      type="confirmPassword" placeholder="confirmPassword" formControlName="confirmPassword">
    <div
      *ngIf=" registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched"
      class="invalid-feedback">Please re-enter your password</div>
    <div *ngIf=" registerForm.hasError('mismatch') && registerForm.get('confirmPassword').touched"
      class="invalid-feedback">your password should match the previous one</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancel </button>
  </div>

</form>

<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm.status |json}}</p>
